.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.redRightMenu{
  background: #b70400;
  width: 600px;
  height: 130vh;
  transform:scale(0.9);
  transform-origin: 0 0;
  position:fixed ;
  overflow: hidden;
  top:-140px;
  left:-600px;
  /*overflow: hidden;*/
}
.mainBack{
  /*background: black;*/
  width: 100vw;
  /*height: 500vh;*/
}
.mt5vw{
  margin-top: 5vw;
}
.menuIcon{
  position: fixed;
  top: 5vw;
  left:3vw;
    z-index: 9999;
}
.menuIconTop{
  position: absolute;
}
.menuIconCenter{
  position: absolute;
  top: 3vh;
  transform: scale(0.6, 1); /* Equal to scaleX(2) scaleY(0.5) */
  transform-origin: left;
  /*width: 80%;*/
  align-items: center;
}
.menuIconButton{
  position:absolute ;
  top: 6vh;
}
.menuText{
    color: white!important;
    position: absolute;
    top: 0 ;
    left:-1.5vw;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    font-size: 1.4vw;
}
.menuText2{
    color: white!important;
    position: absolute;
    top:3vw;
    left:11.5em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    font-size: 1.4vw;
    transform: rotate(15deg);
}
.firstPage{
    background: url(img/1234/1234/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.topFirstPage{
    /*height: 40em;*/
    width: 100vw;
    /*position: absolute;*/
    /*top: -2em;*/
    /*left: 0;*/
    /*position: relative;*/
}
.ButtonFirstPage{
    position: absolute;
    top: 84vh;
    width: 100vw;
    /*height: 20vh;*/
    left: 0;
    /*z-index: 999999999;*/
}
.ButtonFirstPage2{
    position: absolute;
    top: 84vh;
    width: 100vw;
    /*height: 20vh;*/
    left: 0;
    z-index: 999999999;
}
.secondPage{
    background: url(img/1234/1234/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.topSecondPage{
    z-index: 99;
    /*height: 40em;*/
    width: 100vw;
    /*height: 30vh;*/
    /*position: absolute;*/
    /*top: -2em;*/
    /*left: 0;*/
    /*position: relative;*/
}
.videoPageTwo{
    width:100vw;
    height: 80vh;
    /*z-index: 999999;*/
    position: absolute;
    top: 20vh;
}
.thirdPages{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.Tilt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
    /*background-color: #7e56ff;*/
    /*background: url(img/1234/1234/324.png) no-repeat center center fixed;*/
    /*box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);*/
    transform-style: preserve-3d;
    position: absolute;
    left:10em;
    /*overflow: hidden;*/
}

.Tilt-inner {
    transform: translateZ(100px);
    overflow: hidden;
    /*background: url(img/1234/1234/324.png) no-repeat center center fixed;*/
    /*font-size: 100px;*/
}
.flowers{
    /*background: url(img/1234/1234/324.png) no-repeat center center fixed;*/
    /*transform: scale(0.8);*/
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: -22em;
    transform-origin: 0 0;


}

.man{
    position: absolute;
    top:-23em;
    left: 12em;
    transform: scale(0.5)
}
.font{
    position: absolute;
    top: 35vh;
    left: 2em;
}
.card-img-bottom {
    width: 100%;
    border-bottom-left-radius: calc(0.15rem - 1px);
    border-bottom-right-radius: calc(0.15rem - 1px);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.15rem - 1px);
    border-top-right-radius: calc(0.15rem - 1px);
}

.card-img-left {
    width: 100%;
    border-top-left-radius: calc(0.15rem - 1px);
    border-bottom-left-radius: calc(0.15rem - 1px);
    height: 100%;
    /*object-fit: cover;*/
    object-fit: contain;
}
.parentDiv{
    /*width: 200px;*/
    margin-top:15vh;
    padding-top: 15px;
    height:50vh;
    /*border:solid*/
}
.left-arrow,
.right-arrow {
    font-size: 20px;
    /*color: $theme-color-1;*/
    display: inline-block;
    vertical-align: middle;
    /*margin: 0 15px;*/
    /*padding-top: 14px;*/
    background-color: transparent;
}
.slider-dot-container {
    display: inline-block;
}
.slider-dot {
    width: 6px;
    height: 6px;
    border-radius: 10px;
    /*background: $separator-color;*/
    outline: initial !important;
    border: initial;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.Medias{
/*float: left;*/
    /*margin-right:54vw;*/
    color: white;
    /*margin-left: 1vw;*/
    font-size: 8vw;
    margin-bottom: 0!important;
    margin-left: 0!important;
    position: absolute;
    /*top: 0.4em;*/
    top:5.8vh;
    left: 1em;
}
.overflow-h{
    overflow: hidden;
}
.prevArrow{
    width: 5vw;
    font-size: 18em;
    position: absolute;
    left: 0; top: 45%;
    color: gray;
}
.forwardArrow{
    width: 5vw;
    font-size: 18em;
    position: absolute;
    right: 0; top: 45%;
    color: gray;
}
.width5vw{
    width:5vw;
}
/**************************************Fourth***************************/
.MainImgFourth{
    /*margin-top: 8vh;*/
    height:65vh;
}
.mainFour{
    float: left;
    width: 50%;
    color: white;
    font-size: 3vw;
}
.TextAlineLeft{

    text-align: left;
}

/******************************************five***********************/
.fivePage{
    background: url(img/1234/1234/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 200vh;
    position: relative;
    overflow: hidden;
}
.DeviceFive{
    /*margin-top: 3vh;*/
    float: left;
    margin-left: 2vw;
    position: relative;
}
.h50vh{
    height: 50vh;
}
.hMobile{
    height: 30vh;
    position: absolute;
    top: 53%;
    left: 45%;
}

.mobileFive{
    position: absolute;
    top: 0;
    /*left: 5vw;*/
    /*top: 10vw;*/
}
.ChildImage{
    width: 100%;
    /*border-top-left-radius: calc(0.15rem - 1px);*/
    /*border-bottom-left-radius: calc(0.15rem - 1px);*/
    height: 100%;
    /*object-fit: cover;*/
    object-fit: contain;
}
.ButtonFivePage{
    position: absolute;
    top: 80%;
    width: 100vw;
    /*height: 20vh;*/
    left: 0;
    /*z-index: 999999999;*/
}
.LastBox{
    background: black;
}
.contactUsButton{
    color: white;
}
.hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}
